<div class="flex flex-col flex-auto min-w-0 h-full">
  <plenary-header
    title="Funil de Vendas"
    buttonActionTitle="Criar um novo funil de vendas"
    (actionListener)="handleAction($event)"
  ></plenary-header>
  <div class="px-6 pb-6">
    <plenary-table
      *ngIf="data"
      class="w-full"
      [config]="config"
      [data]="data"
      [selection]="selection"
      (actionListener)="handleAction($event)"
      (filtered)="getAll($event)"
      (sortabled)="handleSort($event)"
      (paginated)="handlePaginator($event)"
    >
    </plenary-table>
  </div>
</div>
